/*============================
For large devices (lg)
==============================*/
@media (max-width: 1199.98px) {

	.header-content h1 {
 		font-size: 45px;
}
	.header-content p {
    	font-size: 16px;
}
	.bg-text h2 {
    font-size: 40px;
}
	.about-content p {
    font-size: 14px;
}
	.header-section .row {
    min-height: 95vh;
}
	.aboutme-section {
    padding: 50px 0px;
}
	.heading-content {
    margin-bottom: 50px;
}
	.my-resume {
    padding: 50px 0 40px 0;
}
	.aval-image p {
    font-size: 25px;
}
	.h2{
    font-size: 25px;
}
	.bg-text h1 {
    font-size: 90px;
}
.individual-link a p {
    font-size: 18px;
}
.individual-link a i {
    font-size: 50px;
}
.skill-img .plus {
    left: 35%;
}
.my-client h1 {
    font-size: 30px;
}
.my-client .c-num {
    font-size: 45px;
}
.my-client .c-num-ss {
    font-size: 25px;
}




	
}

/*============================
For medium devices (md)
==============================*/

@media (max-width: 991.98px) {

	.header-section .row {
    min-height: 80vh;
}
	.header-content p {
    padding: 10px 0;
}
	.bg-text h1 {
    font-size: 80px;
}
	.bg-text h2 {
    font-size: 30px;
}
	.heading-content {
    margin-bottom: 25px;
}
	.about-content p {
    font-size: 13px;
}
	.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
	.navbar-dark .navbar-nav .nav-link {
	font-size: 15px;
    padding: 15px 25px;
}
.re-heading h4 {
    margin-top: 50px;
}
.work-menu li {
    margin: 0px 8px;
}
.work-menu li a {
    font-size: 15px;
}
.individual-link a i {
    font-size: 30px;
}
.individual-link a p {
    font-size: 14px;
}
.individual-link a {
    padding: 15px 30px;
}
.copy-content {
    font-size: 16px;
}
#particles-js {
    min-height: 80vh;
}
.my-client h1 {
    font-size: 23px;
}
.my-client .c-num {
    font-size: 35px;
}
.my-client .c-num-ss {
    font-size: 20px;
}
	


	



}

/*============================
For small devices (sm)
==============================*/


@media (max-width: 767.98px) {

	.header-content h1 {
    font-size: 35px;
}
	.header-content p {
    font-size: 14px;
}
	.header-section .row {
    min-height: 70vh;
}
	.btn-custom {
    font-size: 14px;
    padding: 10px 20px;
}
	.btn-custom-reverse{
	font-size: 14px;
    padding: 10px 20px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 13px;
    padding: 15px 20px;
}
.about-content p {
    font-size: 14px;
}
.bg-text h1 {
    font-size: 60px;
}
.aboutme-section {
    padding: 30px 0px;
}
.heading-content {
    margin-bottom: 10px;
}
.resume-box .resume p {
    font-size: 15px;
}
.work-menu li a {
    font-size: 14px;
}
.work-menu li {
    margin: 0px 5px;
}
.aval-image p {
    font-size: 20px;
}
.aval-image .btn-custom-2 {
    font-size: 14px;
    border-radius: 0 0 30px 0;
}
.copy-content {
    font-size: 14px;
}
.skill-img .plus {
    left: 35%;
}
.skill-img .link {
    left: 60%;
}
#particles-js {
    min-height: 72vh;
}
.my-client h1 {
    font-size: 30px;
}
.my-client .c-num {
    font-size: 30px;
}
.my-client .c-num-ss {
    font-size: 20px;
}



}

/*============================
For extra small devices (xs)
==============================*/

@media (max-width: 575.98px) {

	.social-link{
		display: none;
}
	.navbar-nav {
	
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background: rgba(0, 0, 0, 0.58);
}
.navbar-dark .navbar-nav .nav-link {
	display: inline-block;
}
.header-section .row {
    min-height: 60vh;
}
.header-content h1 {
    font-size: 30px;
}
.header-content p {
    font-size: 13px;
}
.btn-custom {
    font-size: 11px;
    padding: 7px 20px;
}
.btn-custom-reverse {
    font-size: 11px;
    padding: 7px 20px;
}
.bg-text h1 {
    font-size: 55px;
}
.skill-heading h2 {
    font-size: 25px;
}
.resume-box .resume p {
    font-size: 16px;
}
.footer {
    margin-top: 25px;
    background: #40afcc;
    padding: 15px;
}
.h2 {
    font-size: 22px;
}
.aval-image p {
    font-size: 18px;
}
.individual-skill a {
    font-size: 30px;
}
.aval-image .btn-custom-2 {
    font-size: 13px;
}
.skill-img .plus {
    font-size: 18px;
    left: 40%;
}
.skill-img .link {
    font-size: 18px;
    left: 54%;
}
#particles-js {
    min-height: 57vh;
}




}